/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    width: 680px;
}

.entryarea{
    position: relative;
    height: 80px;
    line-height: 80px;
}

input{
    position: absolute;
    outline: none;
    font-size: 2.2em;
    padding: 0 30px;
    line-height: 80px;
    border-radius: 15px;
    border: 1px solid #ccc;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.labelline{
    position: absolute;
    font-size: 1.6em;
    color:#ccc;
    padding: 0 25px;
    margin: 0 20px;
    background-color: black;
    transition: 0.2s ease;

}

input:focus,
input:valid{
    border-color: green;
    border: 4px solid green;
}

input:focus + .labelline,
input:valid + .labelline{
    color: green;
    height: 30px;
    line-height: 30px;
    transform: translate(-15px,-16px) scale(0,88);
    z-index: 1111;
} */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 90px;
    background-color: black;
}

.form{
    position: relative;
    width: 400px;
}

.form__input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px solid white;
    border-radius: 0.5rem;
    font-family: inherit;
    font-size: 1rem;
    color: white;
    outline: none;
    padding: 15px;
    background: none;
    transition: all 160ms ease-in;
}

.form__input:hover{
    border-color: lightblue;
}

.form__input:focus{
    border-color: lightblue;
}

.form__label{
    position: absolute;
    top: 0.8rem;
    left: 1rem;
    padding: 5px;
    color: white;
    background-color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.form__input:focus ~ .form__label, .form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label{
    top: -1.2rem;
    font-size: 0.8rem;
    left: 0.8rem;
}


